:root {
  font-size: 62.5%;
  --fonttittle--: 'DM Sans', sans-serif;
  --fontSizeParagraph--: 1.8rem;
  --colorFonts--: #f9f9f9;
  --colorgreen--: #00df5e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html {
  font-family: var(--fonttittle--);
  background-color: #0c0c0c;
  margin: 0 auto;
}
a,
li {
  list-style: none;
  text-decoration: none;
  font-family: var(--fonttittle--);
}
p {
  font-size: 1.8rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}
header .logoMain {
  padding: 0;
}
nav {
  /* width: 80%; */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  display: none;
}
#logo {
  margin-left: 60px;
  color: var(--colorFonts--);
  font-size: clamp(1.4rem, 3vw, 2.6rem);
}
ul {
  width: 100%;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 45px;
}
li a {
  font-size: var(--fontSizeParagraph--);
  color: var(--colorFonts--);
  position: relative;
}
/* parte para poder ficar a linha a baixo do menu */
li a:hover {
  color: rgba(255, 255, 255, 0.815);
}
li a::after {
  content: '';
  position: absolute;
  background-color: var(--colorgreen--);
  width: 0;
  height: 3px;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
li a:hover::after {
  width: 90%;
}
/* terminou o header e nav */

#sectionTitle {
  margin-top: 100px;
  width: 100%;
  color: var(--colorFonts--);
  display: flex;
  justify-content: space-around;
}
.textMe {
  text-align: justify;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textMe h1 {
  font-size: clamp(2.4rem, 3vw, 3.6rem);
}
.textMe p {
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  margin-block: 10px;
}
.textImg {
  width: 30%;
}
#sectionTitle #dev {
  color: #828282;
  font-weight: 500;
}
#btnCv {
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-color: var(--colorgreen--);
  border-radius: 8px;
}
#btnCv a {
  font-family: var(--fonttittle--);
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  font-weight: 500;
  color: #000;
  font-weight: 500;
}
#btnCv:hover {
  border: 2px solid var(--colorgreen--);
  background-color: #fff;
}

#btnContato {
  cursor: pointer;
  width: 150px;
  height: 40px;
  margin-left: 15px;
  background: #171717;
  border-radius: 8px;
  border: none;
}
#btnContato a {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  font-weight: 500;
  color: var(--colorFonts--);
}
#btnContato:hover {
  background-color: var(--colorgreen--);
  border-radius: 8px;
}
#btnContato:hover a {
  color: #000;
}

/* Fim da primeira section */

#sectionSobre {
  margin: 160px auto;
  color: #fff;
  width: 100%;
  max-width: 780px;
  height: 200px;
}
#sectionSobre h2 {
  font-size: clamp(2.4rem, 3vw, 3.6rem);
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
}
#sectionSobre p {
  font-weight: 400;
  font-size: clamp(1.4rem, 3vw, 1.8rem);
  color: #828282;
  text-align: center;
}
/* fim da section sobre mim */
#sectionSocials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  color: #fff;
}
#sectionSocials > h2 {
  color: var(--colorFonts--);
  font-size: clamp(2.4rem, 3vw, 3.6rem);
}
#sectionSocials .containerSociais {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-block: 50px;
  margin-inline: 10px;
  gap: 10px;
  width: 100%;
  height: auto;
}
#sectionSocials .sociaisBg {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #212121;
}
#sectionSocials .sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sectionSocials .sociais h4 {
  color: var(--colorFonts--);
  font-size: clamp(1.4rem, 3vw, 1.8rem);
}
#sectionSocials .sociais a {
  color: #828282;
  font-size: clamp(1rem, 3vw, 1.6rem);
  font-family: var(--fontSizeParagraph--);
  font-weight: 400;
}
#sectionSocials .sociais i:hover {
  font-size: 3.4rem;
  transition: 0.2s;
}
#sectionSocials .sociaisBg i {
  font-size: 3.2rem;
  color: var(--colorgreen--);
}
/* fim da section sobre redes sociais */

#sectionProjetos {
  /* border: 4px solid red; */
  margin-top: 125px;
  margin-inline: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
#sectionProjetos h2 {
  color: var(--colorFonts--);
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}
#sectionProjetos .containerProjetos {
  /* border: 2px solid #fff; */
  width: 100%;
  margin-bottom: 40px;
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#sectionProjetos .cardProjetos {
  /* border: 4px solid yellow; */
  background-color: #212121;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 240px;
}
#sectionProjetos .cardProjetos .imgCard {
  /* border: 4px solid brown; */
  cursor: pointer;
  background-color: #171717;
  margin-top: 20px;
  margin-inline: auto;
  width: 300px;
  height: 130px;
}
#sectionProjetos .cardProjetos .imgCard #jordan {
  width: 100%;
  height: 100%;
}
#sectionProjetos .cardProjetos .imgCard #imc {
  width: 100%;
  height: 100%;
}

#sectionProjetos .cardProjetos .textCard {
  /* border: 2px solid green; */
  margin-top: 25px;
  margin-left: 25px;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#sectionProjetos .cardProjetos .textCard h3 {
  color: var(--colorFonts--);
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  font-weight: 500;
}
#sectionProjetos .cardProjetos .textCard p {
  font-size: clamp(1rem, 3vw, 1.4rem);
  font-weight: 400;
  color: #828282;
}
/* ------------------- */

#sectionSkills {
  margin-top: 100px;
  width: 100%;
  color: #fff;
}
#sectionSkills h2 {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}
.skills {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  font-size: 20px;
  width: 100%;
}
.cardSkills {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  border-radius: 5px;
  width: 150px;
  height: 150px;
}
.cardSkills i {
  font-size: 8rem;
  color: var(--colorgreen--);
}
.cardSkills i:hover {
  font-size: 10rem;
  transition: 0.2s;
}

footer {
  background-color: #212121;
  margin-top: 180px;
  text-align: center;
  color: var(--colorFonts--);
}

/* responsividade */

@media only screen and (max-width: 375px) {
  header #logo {
    margin-left: 20px;
  }
  #sectionTitle {
    width: 100%;
  }
  .textMe {
    width: 100%;
  }
  #imgDeveloper,
  .textImg {
    display: none;
  }
  #emoticon {
    display: none;
  }
  .btnMain {
    display: flex;
    gap: 2px;
  }
  .btnMain #btnCv {
    width: 130px;
    height: 30px;
  }
  .btnMain #btnContato {
    width: 130px;
    height: 30px;
    margin-left: 0;
  }
  #sectionSobre {
    margin-top: 60px;
    width: 95%;
    text-align: center;
  }
  #sectionSocials {
    gap: 5px;
    width: 100%;
  }

  #sectionSocials .containerSociais {
    /* margin-inline: 20px;
    margin-top: 150px;
    margin-bottom: 100px; */
  }
  #sectionSocials .containerSociais .sociais {
    width: 100%;
    flex-wrap: wrap;
    margin-block: 10px;
  }
  #sectionProjetos {
    /* margin-top: 200px; */
  }
  #sectionProjetos .cardProjetos {
    width: 90%;
  }
  #sectionProjetos .cardProjetos .imgCard {
    width: 85%;
  }
  #sectionProjetos .cardProjetos img {
    width: 100%;
    height: auto;
  }
  #sectionProjetos .cardProjetos .textCard {
    height: auto;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 20px;
  }
  #sectionProjetos .cardProjetos img {
    width: 100%;
  }
}

/* tela máxima de 480 px */
@media only screen and (max-width: 480px) {
  .textImg {
    display: none;
  }
  .textMe {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  #sectionSobre {
    margin-block: 100px;
    width: 96%;
  }
}

@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
  }
  nav {
    width: 60%;
  }
  nav #listDesktop {
    position: fixed;
    top: 80px;
    left: 100%;
    height: 100vh;
    width: 100vw;
    display: block;
    text-align: center;
    background-color: #171717;
    transition: all 0.3s ease;
  }
  nav #listDesktop.open {
    width: 100%;
    left: 0;
  }
  nav #listDesktop li {
    width: 100%;
    margin: 50px 0;
  }
  #sectionTitle {
    margin-inline: auto;
    width: 100%;
  }
  .textMe {
    width: 100%;
    margin-left: 55px;
  }
  .textImg {
    display: none;
  }
  #imgDeveloper {
    display: none;
  }
  .btnMobile {
    margin-right: 30px;
    align-items: center;
    height: auto;
  }

  .btnMobile i {
    text-align: center;
    cursor: pointer;
    font-size: 2.4rem;
    color: var(--colorFonts--);
    align-items: center;
  }
  #listDesktop {
    display: none;
  }
  #sectionSobre {
    width: 99%;
  }
  #sectionProjetos .containerProjetos {
    margin-inline: 5px;
  }
}

@media only screen and (max-width: 820) {
  #sectionTitle {
    border: 4px solid red;
  }
}
