@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Kanit&family=Poppins:ital,wght@0,100;0,200;1,300&family=Righteous&family=Roboto:wght@900&family=Sarala:wght@400;700&display=swap');
/*
color:#004AB5;
color:#00ADE8;
COLOR:#F2F2F2;
*/  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F2F2F2;
}
html{
overflow: hidden;
}
header{
    width: 100%;
    padding-left: 15px;
    border-bottom: 1.2px rgba(0, 0, 0, 0.336) solid;
}
.contain-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color:#004AB5;
}
.contain-menu{
    display: flex;
    align-items: center;
}
nav{
    width: 300px;
    margin-right:5px;
    padding-top: 2rem;
    padding-bottom: 5px;
}
ul{
    display: flex;
    gap: 2.5rem;
}
li{
    list-style-type: none;
}
li > a{
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
}
section{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left;
}
.apresentacao{
    padding: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.nome{
    display: flex;
    color: #004AB5;
    font-size: 70px;
}
.h2-main{
    font-size: 30px;
}
.sociais{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 30px;
}
.redes{
    width: 100px;
    border: 2px solid;
    border-color: rgb(0,74,181);
    border-color: linear-gradient(90deg, rgba(0,74,181,1) 1%, rgba(0,173,232,1) 100%); 
}
.redes > span{
    display: flex;
    align-items: center;
    gap: 5px;
}
.redes > span > a,i{
    text-decoration: none;
    padding-left: 4px;
}